<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" *ngIf="!signUpCheck">
            <div class="card-header text-center">
                <h3>Sign in to play game</h3>
            </div>
            <div *ngIf="error">
                <h6 class="text-danger text-center">Incorrect credentials!</h6>
            </div>
            <div class="card-body">
                <form name="loginForm" #f="ngForm">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon ion-ios-person"></i></span>
                        </div>
                        <input class="form-control" type="text" name="userName" [(ngModel)]="user.userName"
                            #userName="ngModel" placeholder="Username" required autocomplete="off">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon ion-md-key"></i></span>
                        </div>
                        <input class="form-control" type="password" name="password" [(ngModel)]="user.password1"
                            #password="ngModel" placeholder="password" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" (click)="f.form.valid && onLogin()"
                            class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a (click)="onSignUp()">Sign Up</a>
                </div>
            </div>
        </div>

        <div class="card" *ngIf="signUpCheck">
            <app-sign-up (signUpCheck)="signUpCheckEmitted($event)"></app-sign-up>
        </div>
    </div>
</div>